@import "../../../assests/styling/variables.scss";

.custon-button {
  border-radius: 34px;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 32px;
  background-color: $hireMeButtonBg;
  font-weight: 800;
  &:hover {
      cursor: pointer;
      opacity: 0.8;
  }
}
