@import "../../../assests/styling/variables.scss";

.custon-button {
  border-radius: 34px;
  overflow: hidden;
  padding: 12px 32px;
  background-color: $ternary-bg;
  font-weight: 800;
  &:hover {
      cursor: pointer;
      opacity: 0.8;
  }
}
