@import "../../assests/styling/variables.scss";

.portfolio {
  .social-handle {
    position: relative;
    padding : 100px 0;
    overflow: hidden;
    .social-links {
      .icon-hover {
        &:hover {
          fill: $primary-active-text-color;
          cursor: pointer;
        }
      }
    }
    .background-shapes {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      .shape {
        position: absolute;
      }
    }
  }
  .about-me {
    margin-bottom: 100px;
    .avatar-w-150 {
      img {
        width: 150px;
      }
    }
    .about-skills {
      margin-left: 110px;
      border-radius: 20px;
      padding: 30px;
      background-color: $secondary-box-bg;
      position: relative;
      .about-me-desc {
        margin-right: 20px;

        .custon-button {
          width: 120px;
        }
      }
    }
  }
  .services {
    margin-bottom: 100px;
  }

  .common-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 110px;
      height: auto;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
