@import "../../assests/styling/variables.scss";

.portfolio {
  .social-handle {
    min-height: 500px;
    overflow: hidden;
    .social-links {
      .icon-hover {
        &:hover {
          fill: $primary-active-text-color;
          cursor: pointer;
        }
      }
    }
  }
  .about-me {
    width: 80%;
    margin: 0 auto;
    .avatar-w-150 {
      img {
        width: 150px;
      }
    }
    .about-skills {
      margin-left: 110px;
      border-radius: 20px;
      padding: 30px;
      background-color: $secondary-box-bg;
      position: relative;
      .about-me-desc {
        margin-right: 20px;

        .custon-button {
          width: 120px;
        }
      }
    }
  }

  .common-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 110px;
      height: auto;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .common-tip {
    width: 22px;
    height: 22px;
    position: absolute;
    left: -11px;
    top: 60px;
    transform: rotate(45deg);
    background-color: $secondary-box-bg;
  }
}
