@import "../../assests/styling/variables.scss";
.header {
  border-bottom: $border;
  padding: 15px 70px;
  padding-right: 40px;
  .header-items {
    padding: 10px 20px;
    margin: 0 10px;
    &:hover {
      color: $primary-active-text-color;
      cursor: pointer;
    }
  }
  .selected {
    color: $primary-active-text-color;
  }
  .name-dot {
    font-size: 35px;
    line-height: 38px;
    padding-right: 14px;
    position: relative;
    .dot {
      width: 8px;
      height: 8px;
      background-color: $ternary-bg;
      position: absolute;
      right: 0;
      bottom: 4px;
    }
  }
}
