@import "../../assests//styling//variables.scss";
.header {
  border-bottom: 1px solid $bottom-border-color;
  padding: 15px 70px;
  padding-right: 40px;
  .header-items {
    padding: 10px 20px;
    margin: 0 10px;
    &:hover {
      color: $selected-item-color;
      cursor: pointer;
    }
  }
  .selected {
    color: $selected-item-color;
  }
  .name-dot {
    font-size: 35px;
    line-height: 38px;
    padding-right: 14px;
    position: relative;
    .dot {
      width: 8px;
      height: 8px;
      background-color: $dot-color;
      position: absolute;
      right: 0;
      bottom: 4px;
    }
  }
}
